In [2]:
#import dependencies
import pandas as pd

In [24]:
tableau_diet_df=pd.read_csv('diet.csv')
tableau_diet_df.head()

,Unnamed: 0,AGE,BMI,EDUCATION,INCOME,INSURANCE,MARITAL_STATUS,RACE,SEX,STATE,...,DIFFWALK,ATE_FRUIT,ATE_VEGGIES,FRIES,FRUIT,GREENS,JUICE,POTATOES,VEGETABLES,WTCHSALT
0,0,70.0,1.0,2.0,3.0,1.0,1.0,1.0,2.0,1.0,...,2.0,1.0,1.0,4.300000e+01,100.0,5.700000e+01,5.397605e-79,14.0,100.0,NaN
1,1,67.0,NaN,4.0,9.0,1.0,9.0,2.0,2.0,1.0,...,1.0,1.0,1.0,5.397605e-79,100.0,1.400000e+01,5.397605e-79,14.0,100.0,NaN
2,2,72.0,3.0,2.0,2.0,1.0,3.0,2.0,2.0,1.0,...,2.0,1.0,2.0,1.400000e+01,100.0,5.397605e-79,5.397605e-79,14.0,43.0,NaN
3,3,62.0,4.0,2.0,5.0,1.0,1.0,1.0,2.0,1.0,...,2.0,1.0,1.0,5.700000e+01,43.0,1.000000e+01,7.100000e+01,27.0,71.0,NaN
4,4,76.0,3.0,1.0,2.0,1.0,1.0,7.0,1.0,1.0,...,1.0,1.0,1.0,2.900000e+01,100.0,1.000000e+02,5.397605e-79,29.0,100.0,NaN

In [25]:
tableau_diet_df=tableau_diet_df.drop(columns=['Unnamed: 0'])

In [26]:
tableau_diet_df.columns

Index(['AGE', 'BMI', 'EDUCATION', 'INCOME', 'INSURANCE', 'MARITAL_STATUS',
       'RACE', 'SEX', 'STATE', 'WORK_STATUS', 'DEPRESSION', 'DIABETES',
       'DIABETES_AGE', 'GENERAL_HEALTH', 'INSULIN', 'MENTAL_HEALTH',
       'PHYSICAL_HEALTH', 'PREDIABETES', 'BPMEDS', 'CHOL_CHKD', 'CHOL_MEDS',
       'CHOLESTEROL', 'HEART_STROKE', 'HRT_ATTK_OR_DISEASE', 'HYPERTENSION',
       'ANY_EXERCISE', 'DIFFDRES', 'DIFFWALK', 'ATE_FRUIT', 'ATE_VEGGIES',
       'FRIES', 'FRUIT', 'GREENS', 'JUICE', 'POTATOES', 'VEGETABLES',
       'WTCHSALT'],
      dtype='object')

In [27]:
tableau_diet_df['BMI'].value_counts()

3.0    138760
4.0    131305
2.0    115489
1.0      6287
Name: BMI, dtype: int64

In [28]:
tableau_diet_df['BMI'].replace(to_replace=[1,2,3,4],
           value=['Underweight','Normal Weight','Overweight','Obese'],inplace=True)
tableau_diet_df['BMI'].value_counts()

Overweight       138760
Obese            131305
Normal Weight    115489
Underweight        6287
Name: BMI, dtype: int64

In [29]:
tableau_diet_df['EDUCATION'].value_counts()

4.0    178577
3.0    120102
2.0    111545
1.0     25991
9.0      2478
Name: EDUCATION, dtype: int64

In [30]:
tableau_diet_df['EDUCATION'].replace(to_replace=[1,2,3,4,9],
           value=['No High School Diploma','High School Diploma', 'Attended College','College Degree','Refused to answer'],inplace=True)
tableau_diet_df['EDUCATION'].value_counts()

College Degree            178577
Attended College          120102
High School Diploma       111545
No High School Diploma     25991
Refused to answer           2478
Name: EDUCATION, dtype: int64

In [31]:
tableau_diet_df['INCOME'].value_counts()

5.0    107246
9.0     94413
6.0     67411
4.0     48339
3.0     43893
2.0     36031
1.0     22408
7.0     18952
Name: INCOME, dtype: int64

In [32]:
tableau_diet_df['INCOME'].replace(to_replace=[1,2,3,4,5,6,7,9],
           value=['Less than $15,000','$15,000 to less than $25,000','$25,000 to less than $35,000','$35,000 to less than $50,000',
                  '$50,000 to less than $100,000','$100,000 to less than $200,000','$200,000 or more','Refused to answer'],inplace=True)
tableau_diet_df['INCOME'].value_counts()

$50,000 to less than $100,000     107246
Refused to answer                  94413
$100,000 to less than $200,000     67411
$35,000 to less than $50,000       48339
$25,000 to less than $35,000       43893
$15,000 to less than $25,000       36031
Less than $15,000                  22408
$200,000 or more                   18952
Name: INCOME, dtype: int64

In [33]:
tableau_diet_df['INSURANCE'].value_counts()

1.0    398081
2.0     23215
9.0     17397
Name: INSURANCE, dtype: int64

In [34]:
tableau_diet_df['INSURANCE'].replace(to_replace=[1,2,9],
           value=['Insured','Not Insured','Refused to answer'],inplace=True)
tableau_diet_df['INSURANCE'].value_counts()

Insured              398081
Not Insured           23215
Refused to answer     17397
Name: INSURANCE, dtype: int64

In [35]:
tableau_diet_df['MARITAL_STATUS'].value_counts()

1.0    227242
5.0     77554
2.0     55677
3.0     47275
6.0     17524
4.0      8433
9.0      4983
Name: MARITAL_STATUS, dtype: int64

In [36]:
tableau_diet_df['MARITAL_STATUS'].replace(to_replace=[1,2,3,4,5,6,9],
           value=['Married','Divorced','Widowed','Separated','Not Married','Not Married','Refused to answer'],inplace=True)
tableau_diet_df['MARITAL_STATUS'].value_counts()

Married              227242
Not Married           95078
Divorced              55677
Widowed               47275
Separated              8433
Refused to answer      4983
Name: MARITAL_STATUS, dtype: int64

In [37]:
tableau_diet_df['RACE'].value_counts()

1.0    322705
8.0     38396
2.0     32772
4.0     11408
9.0     10990
7.0      9230
3.0      7265
6.0      3939
5.0      1988
Name: RACE, dtype: int64

In [38]:
tableau_diet_df['RACE'].replace(to_replace=[1,2,3,4,5,6,7,8,9],
           value=['White','Black','American Indian or Alaskan Native','Asian','Native Hawaiian or other Pacific Islander','Other','Multiracial','Hispanic','Refused to answer'],inplace=True)
tableau_diet_df['RACE'].value_counts()

White                                        322705
Hispanic                                      38396
Black                                         32772
Asian                                         11408
Refused to answer                             10990
Multiracial                                    9230
American Indian or Alaskan Native              7265
Other                                          3939
Native Hawaiian or other Pacific Islander      1988
Name: RACE, dtype: int64

In [39]:
tableau_diet_df['SEX'].value_counts()

2.0    234933
1.0    203760
Name: SEX, dtype: int64

In [40]:
tableau_diet_df['SEX'].replace(to_replace=[1,2],
           value=['Male','Female'],inplace=True)
tableau_diet_df['SEX'].value_counts()

Female    234933
Male      203760
Name: SEX, dtype: int64

In [41]:
tableau_diet_df['STATE'].value_counts()

36.0    39095
20.0    17565
27.0    15959
24.0    15627
31.0    14923
39.0    14308
53.0    13142
29.0    12266
23.0    11808
48.0    10815
4.0     10654
49.0    10621
8.0     10476
45.0    10057
18.0     9929
51.0     9902
19.0     9625
26.0     9425
9.0      8341
13.0     8186
34.0     7965
15.0     7787
25.0     7683
46.0     7290
16.0     6788
54.0     6744
6.0      6735
50.0     6580
33.0     6536
42.0     6419
35.0     6362
30.0     6243
55.0     6106
38.0     5909
44.0     5609
2.0      5493
40.0     5451
21.0     5429
41.0     5378
5.0      5372
22.0     5102
37.0     4939
47.0     4788
1.0      4586
28.0     4421
56.0     4413
72.0     4014
10.0     3640
17.0     3210
11.0     3198
32.0     2739
66.0     1658
78.0     1382
Name: STATE, dtype: int64

In [42]:
tableau_diet_df['STATE'].replace(to_replace=[1,2,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,
                                        38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56,66,72,78],
           value=['Alabama','Alaska','Arizona','Arkansas','California','Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 
                  'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
                  'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
                  'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
                  'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
                  'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Guam','Puerto Rico','Virgin Islands'],inplace=True)
tableau_diet_df['STATE'].value_counts()

New York                39095
Kansas                  17565
Minnesota               15959
Maryland                15627
Nebraska                14923
Ohio                    14308
Washington              13142
Missouri                12266
Maine                   11808
Texas                   10815
Arizona                 10654
Utah                    10621
Colorado                10476
South Carolina          10057
Indiana                  9929
Virginia                 9902
Iowa                     9625
Michigan                 9425
Connecticut              8341
Georgia                  8186
New Jersey               7965
Hawaii                   7787
Massachusetts            7683
South Dakota             7290
Idaho                    6788
West Virginia            6744
California               6735
Vermont                  6580
New Hampshire            6536
Pennsylvania             6419
New Mexico               6362
Montana                  6243
Wisconsin                6106
North Dakota             5909
Rhode Island             5609
Alaska                   5493
Oklahoma                 5451
Kentucky                 5429
Oregon                   5378
Arkansas                 5372
Louisiana                5102
North Carolina           4939
Tennessee                4788
Alabama                  4586
Mississippi              4421
Wyoming                  4413
Puerto Rico              4014
Delaware                 3640
Illinois                 3210
District of Columbia     3198
Nevada                   2739
Guam                     1658
Virgin Islands           1382
Name: STATE, dtype: int64

In [43]:

tableau_diet_df['WORK_STATUS'].value_counts()

1.0    186076
7.0    131546
2.0     37759
8.0     25702
5.0     17579
3.0     11406
6.0     10661
4.0      9713
9.0      4663
Name: WORK_STATUS, dtype: int64

In [44]:
tableau_diet_df['WORK_STATUS'].replace(to_replace=[1,2,3,4,5,6,7,8,9],
           value=['Employed','Self-employed','Out of work (more than a year)','Out of work (less than a year)',
                  'Homemaker','Student','Retired','Unable to work','Refused to answer'],inplace=True)
tableau_diet_df['WORK_STATUS'].value_counts()

Employed                          186076
Retired                           131546
Self-employed                      37759
Unable to work                     25702
Homemaker                          17579
Out of work (more than a year)     11406
Student                            10661
Out of work (less than a year)      9713
Refused to answer                   4663
Name: WORK_STATUS, dtype: int64

In [45]:
tableau_diet_df['DEPRESSION'].value_counts()

2.0    350778
1.0     85398
7.0      1814
9.0       700
Name: DEPRESSION, dtype: int64

In [46]:
tableau_diet_df['DEPRESSION'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['DEPRESSION'].value_counts()

No                   350778
Yes                   85398
Refused to answer      2514
Name: DEPRESSION, dtype: int64

In [47]:
tableau_diet_df['DIABETES'].value_counts()

3.0    366342
1.0     57616
4.0      9942
2.0      3808
7.0       613
9.0       369
Name: DIABETES, dtype: int64

In [48]:
tableau_diet_df['DIABETES'].replace(to_replace=[1,2,3,4,7,9],
           value=['Yes', 'Gestational', 'No', 'Borderline', 'Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['DIABETES'].value_counts()

No                   366342
Yes                   57616
Borderline             9942
Gestational            3808
Refused to answer       982
Name: DIABETES, dtype: int64

In [49]:
tableau_diet_df['DIABETES_AGE'].value_counts()

50.0    5398
98.0    4325
60.0    3936
55.0    3395
40.0    3390
        ...
97.0       2
96.0       2
94.0       2
93.0       2
91.0       1
Name: DIABETES_AGE, Length: 99, dtype: int64

In [50]:
tableau_diet_df['DIABETES_AGE'].replace(to_replace=[98,99],
           value=['Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['DIABETES_AGE'].value_counts()

50.0                 5398
Refused to answer    4671
60.0                 3936
55.0                 3395
40.0                 3390
                     ...
97.0                    2
96.0                    2
94.0                    2
93.0                    2
91.0                    1
Name: DIABETES_AGE, Length: 98, dtype: int64

In [51]:
tableau_diet_df['GENERAL_HEALTH'].value_counts()

1.0    364791
2.0     72741
9.0      1161
Name: GENERAL_HEALTH, dtype: int64

In [52]:
tableau_diet_df['GENERAL_HEALTH'].replace(to_replace=[1,2,9],
           value=['Good','Fair/Poor','Refused to answer'],inplace=True)
tableau_diet_df['GENERAL_HEALTH'].value_counts()

Good                 364791
Fair/Poor             72741
Refused to answer      1161
Name: GENERAL_HEALTH, dtype: int64

In [53]:
tableau_diet_df['INSULIN'].value_counts()

2.0    14815
1.0     7355
7.0       58
9.0       10
Name: INSULIN, dtype: int64

In [54]:
tableau_diet_df['INSULIN'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['INSULIN'].value_counts()

No                   14815
Yes                   7355
Refused to answer       68
Name: INSULIN, dtype: int64

In [55]:
print(tableau_diet_df['MENTAL_HEALTH'].value_counts())
print(tableau_diet_df['PHYSICAL_HEALTH'].value_counts())

1.0    271161
2.0    104326
3.0     55289
9.0      7917
Name: MENTAL_HEALTH, dtype: int64
1.0    287796
2.0     90419
3.0     50984
9.0      9494
Name: PHYSICAL_HEALTH, dtype: int64

In [56]:
tableau_diet_df['MENTAL_HEALTH'].replace(to_replace=[1,2,3,9],
           value=['Good','Fair','Not Good','Refused to answer'],inplace=True)
tableau_diet_df['PHYSICAL_HEALTH'].replace(to_replace=[1,2,3,9],
           value=['Good','Fair','Not Good','Refused to answer'],inplace=True)
print(tableau_diet_df['MENTAL_HEALTH'].value_counts())
print(tableau_diet_df['PHYSICAL_HEALTH'].value_counts())

Good                 271161
Fair                 104326
Not Good              55289
Refused to answer      7917
Name: MENTAL_HEALTH, dtype: int64
Good                 287796
Fair                  90419
Not Good              50984
Refused to answer      9494
Name: PHYSICAL_HEALTH, dtype: int64

In [57]:
tableau_diet_df['PREDIABETES'].value_counts()

3.0    97580
1.0    15142
2.0     1266
7.0      513
9.0      116
Name: PREDIABETES, dtype: int64

In [58]:
tableau_diet_df['PREDIABETES'].replace(to_replace=[1,2,3,7,9],
           value=['Yes', 'Gestational', 'No', 'Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['PREDIABETES'].value_counts()

No                   97580
Yes                  15142
Gestational           1266
Refused to answer      629
Name: PREDIABETES, dtype: int64

In [59]:
tableau_diet_df['CHOL_CHKD'].value_counts()

1.0    364002
3.0     31369
9.0     29782
2.0     13540
Name: CHOL_CHKD, dtype: int64

In [60]:
tableau_diet_df['CHOL_CHKD'].replace(to_replace=[1,2,3,9],
           value=['Yes', 'No', 'No', 'Refused to answer'],inplace=True)
tableau_diet_df['CHOL_CHKD'].value_counts()

Yes                  364002
No                    44909
Refused to answer     29782
Name: CHOL_CHKD, dtype: int64

In [61]:
print(tableau_diet_df['BPMEDS'].value_counts())
print(tableau_diet_df['CHOL_MEDS'].value_counts())
print(tableau_diet_df['HEART_STROKE'].value_counts())
print(tableau_diet_df['DIFFWALK'].value_counts())
print(tableau_diet_df['DIFFDRES'].value_counts())
print(tableau_diet_df['WTCHSALT'].value_counts())

1.0    142417
2.0     29257
7.0       296
9.0       163
Name: BPMEDS, dtype: int64
2.0    260185
1.0    115053
7.0      1450
9.0       434
Name: CHOL_MEDS, dtype: int64
2.0    420051
1.0     17213
7.0      1130
9.0       297
Name: HEART_STROKE, dtype: int64
2.0    351306
1.0     67557
7.0      1190
9.0       631
Name: DIFFWALK, dtype: int64
2.0    401965
1.0     17012
9.0       519
7.0       411
Name: DIFFDRES, dtype: int64
2.0    17973
1.0    17868
7.0      197
9.0       71
Name: WTCHSALT, dtype: int64

In [62]:
tableau_diet_df['BPMEDS'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['CHOL_MEDS'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['HEART_STROKE'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['DIFFWALK'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['DIFFDRES'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_diet_df['WTCHSALT'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)

print(tableau_diet_df['BPMEDS'].value_counts())
print(tableau_diet_df['CHOL_MEDS'].value_counts())
print(tableau_diet_df['HEART_STROKE'].value_counts())
print(tableau_diet_df['DIFFWALK'].value_counts())
print(tableau_diet_df['DIFFDRES'].value_counts())
print(tableau_diet_df['WTCHSALT'].value_counts())

Yes                  142417
No                    29257
Refused to answer       459
Name: BPMEDS, dtype: int64
No                   260185
Yes                  115053
Refused to answer      1884
Name: CHOL_MEDS, dtype: int64
No                   420051
Yes                   17213
Refused to answer      1427
Name: HEART_STROKE, dtype: int64
No                   351306
Yes                   67557
Refused to answer      1821
Name: DIFFWALK, dtype: int64
No                   401965
Yes                   17012
Refused to answer       930
Name: DIFFDRES, dtype: int64
No                   17973
Yes                  17868
Refused to answer      268
Name: WTCHSALT, dtype: int64

In [63]:
tableau_diet_df['HRT_ATTK_OR_DISEASE'].value_counts()

2.0    398735
1.0     35323
Name: HRT_ATTK_OR_DISEASE, dtype: int64

In [64]:
tableau_diet_df['HRT_ATTK_OR_DISEASE'].replace(to_replace=[1,2],
           value=['Yes','No'],inplace=True)
tableau_diet_df['HRT_ATTK_OR_DISEASE'].value_counts()

No     398735
Yes     35323
Name: HRT_ATTK_OR_DISEASE, dtype: int64

In [65]:
print(tableau_diet_df['HYPERTENSION'].value_counts())
print(tableau_diet_df['CHOLESTEROL'].value_counts())

1.0    264648
2.0    172133
9.0      1912
Name: HYPERTENSION, dtype: int64
1.0    224706
2.0    149698
9.0      3138
Name: CHOLESTEROL, dtype: int64

In [66]:
tableau_diet_df['HYPERTENSION'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
tableau_diet_df['CHOLESTEROL'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
print(tableau_diet_df['HYPERTENSION'].value_counts())
print(tableau_diet_df['CHOLESTEROL'].value_counts())

No                   264648
Yes                  172133
Refused to answer      1912
Name: HYPERTENSION, dtype: int64
No                   224706
Yes                  149698
Refused to answer      3138
Name: CHOLESTEROL, dtype: int64

In [67]:
tableau_diet_df['ANY_EXERCISE'].value_counts()

1.0    330738
2.0    107027
9.0       928
Name: ANY_EXERCISE, dtype: int64

In [68]:
tableau_diet_df['ANY_EXERCISE'].replace(to_replace=[1,2,9],
           value=['Yes','No','Refused to answer'],inplace=True)
tableau_diet_df['ANY_EXERCISE'].value_counts()

Yes                  330738
No                   107027
Refused to answer       928
Name: ANY_EXERCISE, dtype: int64

In [69]:
print(tableau_diet_df['ATE_FRUIT'].value_counts())
print(tableau_diet_df['ATE_VEGGIES'].value_counts())

1.0    238916
2.0    148690
9.0     51087
Name: ATE_FRUIT, dtype: int64
1.0    308064
2.0     70502
9.0     60127
Name: ATE_VEGGIES, dtype: int64

In [70]:
tableau_diet_df['ATE_FRUIT'].replace(to_replace=[1,2,9],
           value=['One or more per day','Less than one per day','Refused to answer'],inplace=True)
tableau_diet_df['ATE_VEGGIES'].replace(to_replace=[1,2,9],
           value=['One or more per day','Less than one per day','Refused to answer'],inplace=True)
print(tableau_diet_df['ATE_FRUIT'].value_counts())
print(tableau_diet_df['ATE_VEGGIES'].value_counts())

One or more per day      238916
Less than one per day    148690
Refused to answer         51087
Name: ATE_FRUIT, dtype: int64
One or more per day      308064
Less than one per day     70502
Refused to answer         60127
Name: ATE_VEGGIES, dtype: int64

In [71]:
tableau_diet_df.to_csv('diet_tableau.csv')