In [2]:
#import dependencies
import pandas as pd

In [104]:
tableau_df=pd.read_csv('substance.csv')
tableau_df.head()

,Unnamed: 0,AGE,AGE_BINS,BMI,EDUCATION,INCOME,INSURANCE,MARITAL_STATUS,RACE,SEX,...,E_CIG_FREQ,E_CIG_USER,SMOKE_END_AGE,SMOKE_FREQ,SMOKE_STRT_AGE,SMOKER,SMOKER_STATUS,TOBAC_FREQ,LAST_SMOKE,QUIT_SMK
0,0,70.0,11.0,1.0,2.0,3.0,1.0,1.0,1.0,2.0,...,3.0,1.0,NaN,3.0,NaN,1.0,3.0,3.0,NaN,NaN
1,1,67.0,10.0,NaN,4.0,9.0,1.0,9.0,2.0,2.0,...,3.0,1.0,NaN,NaN,NaN,1.0,4.0,3.0,NaN,NaN
2,2,72.0,11.0,3.0,2.0,2.0,1.0,3.0,2.0,2.0,...,3.0,1.0,NaN,NaN,NaN,1.0,4.0,3.0,NaN,NaN
3,3,62.0,9.0,4.0,2.0,5.0,1.0,1.0,1.0,2.0,...,3.0,1.0,NaN,NaN,NaN,1.0,4.0,3.0,NaN,NaN
4,4,76.0,12.0,3.0,1.0,2.0,1.0,1.0,7.0,1.0,...,3.0,1.0,NaN,NaN,NaN,1.0,4.0,2.0,NaN,NaN

In [105]:
tableau_df=tableau_df.drop(columns=['Unnamed: 0'])

In [106]:
tableau_df.columns

Index(['AGE', 'AGE_BINS', 'BMI', 'EDUCATION', 'INCOME', 'INSURANCE',
       'MARITAL_STATUS', 'RACE', 'SEX', 'STATE', 'WORK_STATUS', 'DEPRESSION',
       'GENERAL_HEALTH', 'MENTAL_HEALTH', 'PHYSICAL_HEALTH', 'BPMEDS',
       'HEART_STROKE', 'HRT_ATTK_OR_DISEASE', 'HYPERTENSION', 'MAXDRNKS',
       'ANYDRINKS_PAST30', 'BINGE_DRNKR', 'DRINKS_PERDAY', 'DRINKS_PERWK',
       'HEAVY_DRNKR', 'MARIJUANA', 'MRJ_METHOD', 'MRJ_REASON', 'SMOKE100',
       'AVG_CIGS_DAY', 'E_CIG_FREQ', 'E_CIG_USER', 'SMOKE_END_AGE',
       'SMOKE_FREQ', 'SMOKE_STRT_AGE', 'SMOKER', 'SMOKER_STATUS', 'TOBAC_FREQ',
       'LAST_SMOKE', 'QUIT_SMK'],
      dtype='object')

In [107]:
tableau_df['AGE_BINS'].value_counts()

10.0    45762
9.0     44298
11.0    42920
8.0     38009
13.0    34507
7.0     34086
12.0    29747
5.0     29435
4.0     28559
6.0     28391
1.0     26025
3.0     25724
2.0     21623
14.0     9607
Name: AGE_BINS, dtype: int64

In [108]:
tableau_df['AGE_BINS'].replace(to_replace=[1,2,3,4,5,6,7,8,9,10,11,12,13,14],
           value=['Age 18 to 24', 'Age 25 to 29','Age 30 to 34','Age 35 to 39','Age 40 to 44','Age 45 to 49','Age 50 to 54','Age 55 to 59',
                  'Age 60 to 64','Age 65 to 69','Age 70 to 74','Age 75 to 79','Age 80 or older','Refused to answer'],inplace=True)
tableau_df['AGE_BINS'].value_counts()

Age 65 to 69         45762
Age 60 to 64         44298
Age 70 to 74         42920
Age 55 to 59         38009
Age 80 or older      34507
Age 50 to 54         34086
Age 75 to 79         29747
Age 40 to 44         29435
Age 35 to 39         28559
Age 45 to 49         28391
Age 18 to 24         26025
Age 30 to 34         25724
Age 25 to 29         21623
Refused to answer     9607
Name: AGE_BINS, dtype: int64

In [109]:
tableau_df['BMI'].value_counts()

3.0    138760
4.0    131305
2.0    115489
1.0      6287
Name: BMI, dtype: int64

In [110]:
tableau_df['BMI'].replace(to_replace=[1,2,3,4],
           value=['Underweight','Normal Weight','Overweight','Obese'],inplace=True)
tableau_df['BMI'].value_counts()

Overweight       138760
Obese            131305
Normal Weight    115489
Underweight        6287
Name: BMI, dtype: int64

In [111]:
tableau_df['EDUCATION'].value_counts()

4.0    178577
3.0    120102
2.0    111545
1.0     25991
9.0      2478
Name: EDUCATION, dtype: int64

In [112]:
tableau_df['EDUCATION'].replace(to_replace=[1,2,3,4,9],
           value=['No High School Diploma','High School Diploma', 'Attended College','College Degree','Refused to answer'],inplace=True)
tableau_df['EDUCATION'].value_counts()

College Degree            178577
Attended College          120102
High School Diploma       111545
No High School Diploma     25991
Refused to answer           2478
Name: EDUCATION, dtype: int64

In [113]:
tableau_df['INCOME'].value_counts()

5.0    107246
9.0     94413
6.0     67411
4.0     48339
3.0     43893
2.0     36031
1.0     22408
7.0     18952
Name: INCOME, dtype: int64

In [114]:
tableau_df['INCOME'].replace(to_replace=[1,2,3,4,5,6,7,9],
           value=['Less than $15,000','$15,000 to less than $25,000','$25,000 to less than $35,000','$35,000 to less than $50,000',
                  '$50,000 to less than $100,000','$100,000 to less than $200,000','$200,000 or more','Refused to answer'],inplace=True)
tableau_df['INCOME'].value_counts()

$50,000 to less than $100,000     107246
Refused to answer                  94413
$100,000 to less than $200,000     67411
$35,000 to less than $50,000       48339
$25,000 to less than $35,000       43893
$15,000 to less than $25,000       36031
Less than $15,000                  22408
$200,000 or more                   18952
Name: INCOME, dtype: int64

In [115]:
tableau_df['INSURANCE'].value_counts()

1.0    398081
2.0     23215
9.0     17397
Name: INSURANCE, dtype: int64

In [116]:
tableau_df['INSURANCE'].replace(to_replace=[1,2,9],
           value=['Insured','Not Insured','Refused to answer'],inplace=True)
tableau_df['INSURANCE'].value_counts()

Insured              398081
Not Insured           23215
Refused to answer     17397
Name: INSURANCE, dtype: int64

In [117]:
tableau_df['MARITAL_STATUS'].value_counts()

1.0    227242
5.0     77554
2.0     55677
3.0     47275
6.0     17524
4.0      8433
9.0      4983
Name: MARITAL_STATUS, dtype: int64

In [118]:
tableau_df['MARITAL_STATUS'].replace(to_replace=[1,2,3,4,5,6,9],
           value=['Married','Divorced','Widowed','Separated','Not Married','Not Married','Refused to answer'],inplace=True)
tableau_df['MARITAL_STATUS'].value_counts()

Married              227242
Not Married           95078
Divorced              55677
Widowed               47275
Separated              8433
Refused to answer      4983
Name: MARITAL_STATUS, dtype: int64

In [119]:
tableau_df['RACE'].value_counts()

1.0    322705
8.0     38396
2.0     32772
4.0     11408
9.0     10990
7.0      9230
3.0      7265
6.0      3939
5.0      1988
Name: RACE, dtype: int64

In [120]:
tableau_df['RACE'].replace(to_replace=[1,2,3,4,5,6,7,8,9],
           value=['White','Black','American Indian or Alaskan Native','Asian','Native Hawaiian or other Pacific Islander','Other','Multiracial','Hispanic','Refused to answer'],inplace=True)
tableau_df['RACE'].value_counts()

White                                        322705
Hispanic                                      38396
Black                                         32772
Asian                                         11408
Refused to answer                             10990
Multiracial                                    9230
American Indian or Alaskan Native              7265
Other                                          3939
Native Hawaiian or other Pacific Islander      1988
Name: RACE, dtype: int64

In [121]:
tableau_df['SEX'].value_counts()

2.0    234933
1.0    203760
Name: SEX, dtype: int64

In [122]:
tableau_df['SEX'].replace(to_replace=[1,2],
           value=['Male','Female'],inplace=True)
tableau_df['SEX'].value_counts()

Female    234933
Male      203760
Name: SEX, dtype: int64

In [123]:
tableau_df['STATE'].value_counts()

36.0    39095
20.0    17565
27.0    15959
24.0    15627
31.0    14923
39.0    14308
53.0    13142
29.0    12266
23.0    11808
48.0    10815
4.0     10654
49.0    10621
8.0     10476
45.0    10057
18.0     9929
51.0     9902
19.0     9625
26.0     9425
9.0      8341
13.0     8186
34.0     7965
15.0     7787
25.0     7683
46.0     7290
16.0     6788
54.0     6744
6.0      6735
50.0     6580
33.0     6536
42.0     6419
35.0     6362
30.0     6243
55.0     6106
38.0     5909
44.0     5609
2.0      5493
40.0     5451
21.0     5429
41.0     5378
5.0      5372
22.0     5102
37.0     4939
47.0     4788
1.0      4586
28.0     4421
56.0     4413
72.0     4014
10.0     3640
17.0     3210
11.0     3198
32.0     2739
66.0     1658
78.0     1382
Name: STATE, dtype: int64

In [124]:
tableau_df['STATE'].replace(to_replace=[1,2,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,
                                        38,39,40,41,42,44,45,46,47,48,49,50,51,53,54,55,56,66,72,78],
           value=['Alabama','Alaska','Arizona','Arkansas','California','Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 
                  'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
                  'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
                  'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
                  'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
                  'Washington', 'West Virginia', 'Wisconsin', 'Wyoming', 'Guam','Puerto Rico','Virgin Islands'],inplace=True)
tableau_df['STATE'].value_counts()

New York                39095
Kansas                  17565
Minnesota               15959
Maryland                15627
Nebraska                14923
Ohio                    14308
Washington              13142
Missouri                12266
Maine                   11808
Texas                   10815
Arizona                 10654
Utah                    10621
Colorado                10476
South Carolina          10057
Indiana                  9929
Virginia                 9902
Iowa                     9625
Michigan                 9425
Connecticut              8341
Georgia                  8186
New Jersey               7965
Hawaii                   7787
Massachusetts            7683
South Dakota             7290
Idaho                    6788
West Virginia            6744
California               6735
Vermont                  6580
New Hampshire            6536
Pennsylvania             6419
New Mexico               6362
Montana                  6243
Wisconsin                6106
North Dakota             5909
Rhode Island             5609
Alaska                   5493
Oklahoma                 5451
Kentucky                 5429
Oregon                   5378
Arkansas                 5372
Louisiana                5102
North Carolina           4939
Tennessee                4788
Alabama                  4586
Mississippi              4421
Wyoming                  4413
Puerto Rico              4014
Delaware                 3640
Illinois                 3210
District of Columbia     3198
Nevada                   2739
Guam                     1658
Virgin Islands           1382
Name: STATE, dtype: int64

In [125]:

tableau_df['WORK_STATUS'].value_counts()

1.0    186076
7.0    131546
2.0     37759
8.0     25702
5.0     17579
3.0     11406
6.0     10661
4.0      9713
9.0      4663
Name: WORK_STATUS, dtype: int64

In [126]:
tableau_df['WORK_STATUS'].replace(to_replace=[1,2,3,4,5,6,7,8,9],
           value=['Employed','Self-employed','Out of work (more than a year)','Out of work (less than a year)',
                  'Homemaker','Student','Retired','Unable to work','Refused to answer'],inplace=True)
tableau_df['WORK_STATUS'].value_counts()

Employed                          186076
Retired                           131546
Self-employed                      37759
Unable to work                     25702
Homemaker                          17579
Out of work (more than a year)     11406
Student                            10661
Out of work (less than a year)      9713
Refused to answer                   4663
Name: WORK_STATUS, dtype: int64

In [127]:
tableau_df['DEPRESSION'].value_counts()

2.0    350778
1.0     85398
7.0      1814
9.0       700
Name: DEPRESSION, dtype: int64

In [128]:
tableau_df['DEPRESSION'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_df['DEPRESSION'].value_counts()

No                   350778
Yes                   85398
Refused to answer      2514
Name: DEPRESSION, dtype: int64

In [129]:
tableau_df['GENERAL_HEALTH'].value_counts()

1.0    364791
2.0     72741
9.0      1161
Name: GENERAL_HEALTH, dtype: int64

In [130]:
tableau_df['GENERAL_HEALTH'].replace(to_replace=[1,2,9],
           value=['Good','Fair/Poor','Refused to answer'],inplace=True)
tableau_df['GENERAL_HEALTH'].value_counts()

Good                 364791
Fair/Poor             72741
Refused to answer      1161
Name: GENERAL_HEALTH, dtype: int64

In [131]:
print(tableau_df['MENTAL_HEALTH'].value_counts())
print(tableau_df['PHYSICAL_HEALTH'].value_counts())

1.0    271161
2.0    104326
3.0     55289
9.0      7917
Name: MENTAL_HEALTH, dtype: int64
1.0    287796
2.0     90419
3.0     50984
9.0      9494
Name: PHYSICAL_HEALTH, dtype: int64

In [132]:
tableau_df['MENTAL_HEALTH'].replace(to_replace=[1,2,3,9],
           value=['Good','Fair','Not Good','Refused to answer'],inplace=True)
tableau_df['PHYSICAL_HEALTH'].replace(to_replace=[1,2,3,9],
           value=['Good','Fair','Not Good','Refused to answer'],inplace=True)
print(tableau_df['MENTAL_HEALTH'].value_counts())
print(tableau_df['PHYSICAL_HEALTH'].value_counts())

Good                 271161
Fair                 104326
Not Good              55289
Refused to answer      7917
Name: MENTAL_HEALTH, dtype: int64
Good                 287796
Fair                  90419
Not Good              50984
Refused to answer      9494
Name: PHYSICAL_HEALTH, dtype: int64

In [133]:
print(tableau_df['BPMEDS'].value_counts())
print(tableau_df['HEART_STROKE'].value_counts())
print(tableau_df['ANYDRINKS_PAST30'].value_counts())
print(tableau_df['SMOKE100'].value_counts())
print(tableau_df['QUIT_SMK'].value_counts())

1.0    142417
2.0     29257
7.0       296
9.0       163
Name: BPMEDS, dtype: int64
2.0    420051
1.0     17213
7.0      1130
9.0       297
Name: HEART_STROKE, dtype: int64
1.0    211232
2.0    196872
9.0     26851
7.0      3738
Name: ANYDRINKS_PAST30, dtype: int64
2.0    246644
1.0    167588
7.0      2298
9.0       931
Name: SMOKE100, dtype: int64
2.0    12087
1.0    11860
7.0       77
9.0       38
Name: QUIT_SMK, dtype: int64

In [134]:
tableau_df['BPMEDS'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_df['HEART_STROKE'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_df['ANYDRINKS_PAST30'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_df['SMOKE100'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)
tableau_df['QUIT_SMK'].replace(to_replace=[1,2,7,9],
           value=['Yes','No','Refused to answer','Refused to answer'],inplace=True)

print(tableau_df['BPMEDS'].value_counts())
print(tableau_df['HEART_STROKE'].value_counts())
print(tableau_df['ANYDRINKS_PAST30'].value_counts())
print(tableau_df['SMOKE100'].value_counts())
print(tableau_df['QUIT_SMK'].value_counts())

Yes                  142417
No                    29257
Refused to answer       459
Name: BPMEDS, dtype: int64
No                   420051
Yes                   17213
Refused to answer      1427
Name: HEART_STROKE, dtype: int64
Yes                  211232
No                   196872
Refused to answer     30589
Name: ANYDRINKS_PAST30, dtype: int64
No                   246644
Yes                  167588
Refused to answer      3229
Name: SMOKE100, dtype: int64
No                   12087
Yes                  11860
Refused to answer      115
Name: QUIT_SMK, dtype: int64

In [135]:
tableau_df['HRT_ATTK_OR_DISEASE'].value_counts()

2.0    398735
1.0     35323
Name: HRT_ATTK_OR_DISEASE, dtype: int64

In [136]:
tableau_df['HRT_ATTK_OR_DISEASE'].replace(to_replace=[1,2],
           value=['Yes','No'],inplace=True)
tableau_df['HRT_ATTK_OR_DISEASE'].value_counts()

No     398735
Yes     35323
Name: HRT_ATTK_OR_DISEASE, dtype: int64

In [137]:
print(tableau_df['HYPERTENSION'].value_counts())
print(tableau_df['BINGE_DRNKR'].value_counts())
print(tableau_df['HEAVY_DRNKR'].value_counts())
print(tableau_df['SMOKER'].value_counts())

1.0    264648
2.0    172133
9.0      1912
Name: HYPERTENSION, dtype: int64
1.0    349610
2.0     53761
9.0     35322
Name: BINGE_DRNKR, dtype: int64
1.0    379828
9.0     34993
2.0     23872
Name: HEAVY_DRNKR, dtype: int64
1.0    359891
2.0     53832
9.0     24970
Name: SMOKER, dtype: int64

In [138]:
tableau_df['HYPERTENSION'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
tableau_df['BINGE_DRNKR'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
tableau_df['HEAVY_DRNKR'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
tableau_df['SMOKER'].replace(to_replace=[1,2,9],
           value=['No','Yes','Refused to answer'],inplace=True)
print(tableau_df['HYPERTENSION'].value_counts())
print(tableau_df['BINGE_DRNKR'].value_counts())
print(tableau_df['HEAVY_DRNKR'].value_counts())
print(tableau_df['SMOKER'].value_counts())

No                   264648
Yes                  172133
Refused to answer      1912
Name: HYPERTENSION, dtype: int64
No                   349610
Yes                   53761
Refused to answer     35322
Name: BINGE_DRNKR, dtype: int64
No                   379828
Refused to answer     34993
Yes                   23872
Name: HEAVY_DRNKR, dtype: int64
No                   359891
Yes                   53832
Refused to answer     24970
Name: SMOKER, dtype: int64

In [139]:
tableau_df['MAXDRNKS'].value_counts()

1.0     56620
2.0     53954
3.0     32355
4.0     17189
5.0     12528
        ...
53.0        1
72.0        1
29.0        1
44.0        1
66.0        1
Name: MAXDRNKS, Length: 61, dtype: int64

In [142]:
tableau_df['MAXDRNKS'].replace(to_replace=[77,99],
           value=['Refused to answer','Refused to answer'],inplace=True)
tableau_df['MAXDRNKS'].value_counts()

1.0                  56620
2.0                  53954
3.0                  32355
4.0                  17189
5.0                  12528
6.0                  10379
Refused to answer     7461
8.0                   4286
10.0                  3994
7.0                   3587
12.0                  2694
15.0                   969
9.0                    711
20.0                   623
30.0                   301
18.0                   281
14.0                   213
24.0                   179
13.0                   155
16.0                   152
11.0                   148
25.0                    97
17.0                    65
40.0                    47
50.0                    29
22.0                    28
19.0                    19
23.0                    18
35.0                    16
36.0                    16
76.0                    14
27.0                    13
26.0                    12
32.0                    12
28.0                    11
60.0                    11
45.0                    10
21.0                     9
48.0                     8
38.0                     7
34.0                     7
42.0                     5
37.0                     3
75.0                     3
43.0                     3
47.0                     2
52.0                     2
31.0                     2
64.0                     2
33.0                     2
70.0                     2
53.0                     1
72.0                     1
56.0                     1
29.0                     1
62.0                     1
44.0                     1
69.0                     1
65.0                     1
66.0                     1
Name: MAXDRNKS, dtype: int64

In [146]:
tableau_df['MARIJUANA'].value_counts()

88.0    122516
30.0      5432
1.0       1267
2.0       1226
99.0       976
5.0        771
10.0       752
20.0       724
15.0       684
3.0        667
4.0        543
77.0       503
25.0       309
8.0        204
7.0        186
6.0        181
12.0       167
28.0       115
14.0        81
29.0        53
16.0        38
27.0        24
21.0        21
9.0         21
24.0        17
26.0        15
18.0        14
17.0        13
22.0        12
23.0        11
11.0        10
19.0         4
13.0         3
Name: MARIJUANA, dtype: int64

In [147]:
tableau_df['MARIJUANA'].replace(to_replace=[77,88,99],
           value=[0,'Refused to answer','Refused to answer'],inplace=True)
tableau_df['MARIJUANA'].value_counts()

Refused to answer    123492
30.0                   5432
1.0                    1267
2.0                    1226
5.0                     771
10.0                    752
20.0                    724
15.0                    684
3.0                     667
4.0                     543
0.0                     503
25.0                    309
8.0                     204
7.0                     186
6.0                     181
12.0                    167
28.0                    115
14.0                     81
29.0                     53
16.0                     38
27.0                     24
21.0                     21
9.0                      21
24.0                     17
26.0                     15
18.0                     14
17.0                     13
22.0                     12
23.0                     11
11.0                     10
19.0                      4
13.0                      3
Name: MARIJUANA, dtype: int64

In [148]:
tableau_df['MRJ_METHOD'].value_counts()

1.0    8871
2.0    2650
4.0    1185
5.0     312
6.0     293
3.0     136
9.0      67
7.0      32
Name: MRJ_METHOD, dtype: int64

In [149]:
tableau_df['MRJ_METHOD'].replace(to_replace=[1,2,3,4,5,6,7,9],
           value=['Smoke','Edible','Edible','Vape','Dab','Other','Refused to answer','Refused to answer'],inplace=True)
tableau_df['MRJ_METHOD'].value_counts()

Smoke                8871
Edible               2786
Vape                 1185
Dab                   312
Other                 293
Refused to answer      99
Name: MRJ_METHOD, dtype: int64

In [150]:
tableau_df['MRJ_REASON'].value_counts()

3.0    5025
2.0    4427
1.0    3951
9.0      70
7.0      59
Name: MRJ_REASON, dtype: int64

In [151]:
tableau_df['MRJ_REASON'].replace(to_replace=[1,2,3,7,9],
           value=['Medical','Recreational','Both','Refused to answer','Refused to answer'],inplace=True)
tableau_df['MRJ_REASON'].value_counts()

Both                 5025
Recreational         4427
Medical              3951
Refused to answer     129
Name: MRJ_REASON, dtype: int64

In [152]:
tableau_df['AVG_CIGS_DAY'].value_counts()

20.0     3408
10.0     2515
5.0       865
15.0      738
40.0      530
         ...
105.0       1
88.0        1
36.0        1
90.0        1
180.0       1
Name: AVG_CIGS_DAY, Length: 64, dtype: int64

In [153]:
tableau_df['AVG_CIGS_DAY'].replace(to_replace=[777,999],
           value=['Refused to answer','Refused to answer'],inplace=True)
tableau_df['AVG_CIGS_DAY'].value_counts()

20.0     3408
10.0     2515
5.0       865
15.0      738
40.0      530
         ...
105.0       1
88.0        1
36.0        1
90.0        1
180.0       1
Name: AVG_CIGS_DAY, Length: 63, dtype: int64

In [154]:
tableau_df['E_CIG_FREQ'].value_counts()

3.0    311502
4.0     83907
2.0     10296
1.0      9050
9.0       663
7.0       250
Name: E_CIG_FREQ, dtype: int64

In [155]:
tableau_df['E_CIG_FREQ'].replace(to_replace=[1,2,3,4,7,9],
           value=['Every day','Some days','Never','Never','Refused to answer','Refused to answer'],inplace=True)
tableau_df['E_CIG_FREQ'].value_counts()

Never                395409
Some days             10296
Every day              9050
Refused to answer       913
Name: E_CIG_FREQ, dtype: int64

In [156]:
tableau_df['E_CIG_USER'].value_counts()

1.0    395409
9.0     23938
2.0     19346
Name: E_CIG_USER, dtype: int64

In [157]:
tableau_df['E_CIG_USER'].replace(to_replace=[1,2,9],
           value=['Not anymore','Yes','Refused to answer'],inplace=True)
tableau_df['E_CIG_USER'].value_counts()

Not anymore          395409
Refused to answer     23938
Yes                   19346
Name: E_CIG_USER, dtype: int64

In [159]:
tableau_df['E_CIG_USER'].replace(to_replace=['Not anymore'],
           value=['No'],inplace=True)
tableau_df['E_CIG_USER'].value_counts()

No                   395409
Refused to answer     23938
Yes                   19346
Name: E_CIG_USER, dtype: int64

In [160]:
tableau_df['SMOKE_END_AGE'].value_counts()

30.0     631
40.0     604
777.0    519
35.0     466
50.0     446
        ...
1.0        1
91.0       1
92.0       1
94.0       1
11.0       1
Name: SMOKE_END_AGE, Length: 92, dtype: int64

In [161]:
tableau_df['SMOKE_END_AGE'].replace(to_replace=[777,999],
           value=['Refused to answer','Refused to answer'],inplace=True)
tableau_df['SMOKE_END_AGE'].value_counts()

Refused to answer    682
30.0                 631
40.0                 604
35.0                 466
50.0                 446
                    ...
4.0                    1
3.0                    1
95.0                   1
89.0                   1
11.0                   1
Name: SMOKE_END_AGE, Length: 91, dtype: int64

In [162]:
tableau_df['SMOKE_FREQ'].value_counts()

3.0    113247
1.0     38913
2.0     14919
9.0       248
7.0       126
Name: SMOKE_FREQ, dtype: int64

In [163]:
tableau_df['SMOKE_FREQ'].replace(to_replace=[1,2,3,7,9],
           value=['Every day','Some days','Never','Refused to answer','Refused to answer'],inplace=True)
tableau_df['SMOKE_FREQ'].value_counts()

Never                113247
Every day             38913
Some days             14919
Refused to answer       374
Name: SMOKE_FREQ, dtype: int64

In [164]:
tableau_df['SMOKE_STRT_AGE'].value_counts()

18.0     1990
16.0     1763
15.0     1326
17.0     1137
20.0      903
14.0      816
19.0      752
13.0      599
12.0      445
21.0      433
888.0     397
22.0      287
25.0      235
777.0     213
11.0      142
30.0      139
23.0      132
10.0      118
24.0       88
999.0      84
9.0        66
8.0        51
35.0       51
28.0       51
26.0       44
27.0       43
40.0       33
7.0        21
32.0       20
29.0       18
33.0       12
50.0       12
6.0        11
34.0        9
31.0        8
38.0        7
39.0        6
45.0        6
36.0        6
5.0         6
42.0        6
1.0         5
37.0        4
44.0        4
43.0        3
47.0        3
60.0        3
54.0        3
46.0        2
41.0        2
53.0        2
67.0        2
59.0        2
2.0         1
99.0        1
55.0        1
88.0        1
58.0        1
48.0        1
Name: SMOKE_STRT_AGE, dtype: int64

In [165]:
tableau_df['SMOKE_STRT_AGE'].replace(to_replace=[777,888,999],
           value=['Refused to answer','Never','Refused to answer'],inplace=True)
tableau_df['SMOKE_STRT_AGE'].value_counts()

18.0                 1990
16.0                 1763
15.0                 1326
17.0                 1137
20.0                  903
14.0                  816
19.0                  752
13.0                  599
12.0                  445
21.0                  433
Never                 397
Refused to answer     297
22.0                  287
25.0                  235
11.0                  142
30.0                  139
23.0                  132
10.0                  118
24.0                   88
9.0                    66
35.0                   51
8.0                    51
28.0                   51
26.0                   44
27.0                   43
40.0                   33
7.0                    21
32.0                   20
29.0                   18
33.0                   12
50.0                   12
6.0                    11
34.0                    9
31.0                    8
38.0                    7
45.0                    6
36.0                    6
39.0                    6
5.0                     6
42.0                    6
1.0                     5
37.0                    4
44.0                    4
43.0                    3
47.0                    3
60.0                    3
54.0                    3
46.0                    2
41.0                    2
53.0                    2
67.0                    2
59.0                    2
2.0                     1
99.0                    1
55.0                    1
88.0                    1
58.0                    1
48.0                    1
Name: SMOKE_STRT_AGE, dtype: int64

In [166]:
tableau_df['SMOKER_STATUS'].value_counts()

4.0    246644
3.0    113247
1.0     38913
9.0     24970
2.0     14919
Name: SMOKER_STATUS, dtype: int64

In [167]:
tableau_df['SMOKER_STATUS'].replace(to_replace=[1,2,3,4,9],
           value=['Smokes every day', 'Smokes some days','Former smoker','Never Smoked','Refused to answer'],inplace=True)
tableau_df['SMOKER_STATUS'].value_counts()

Never Smoked         246644
Former smoker        113247
Smokes every day      38913
Refused to answer     24970
Smokes some days      14919
Name: SMOKER_STATUS, dtype: int64

In [168]:
tableau_df['TOBAC_FREQ'].value_counts()

3.0    402556
1.0      7769
2.0      5486
9.0       699
7.0       194
Name: TOBAC_FREQ, dtype: int64

In [169]:
tableau_df['TOBAC_FREQ'].replace(to_replace=[1,2,3,7,9],
           value=['Every day','Some days','Never','Refused to answer','Refused to answer'],inplace=True)
tableau_df['TOBAC_FREQ'].value_counts()

Never                402556
Every day              7769
Some days              5486
Refused to answer       893
Name: TOBAC_FREQ, dtype: int64

In [170]:
tableau_df['LAST_SMOKE'].value_counts()

7.0     34422
5.0      6800
6.0      4974
4.0      1547
1.0      1279
2.0      1096
3.0       927
77.0      465
8.0       274
99.0       69
Name: LAST_SMOKE, dtype: int64

In [171]:
tableau_df['LAST_SMOKE'].replace(to_replace=[1,2,3,4,5,6,7,8,77,99],
           value=['Within the past month','Within the past 3 months','Within the past 6 months','Within the past year',
           'Within the past 5 years','Within the past 10 years','10 years or more','Never','Refused to answer','Refused to answer'],inplace=True)
tableau_df['LAST_SMOKE'].value_counts()

10 years or more            34422
Within the past 5 years      6800
Within the past 10 years     4974
Within the past year         1547
Within the past month        1279
Within the past 3 months     1096
Within the past 6 months      927
Refused to answer             534
Never                         274
Name: LAST_SMOKE, dtype: int64

In [172]:
tableau_df.to_csv('substance_tableau.csv')